.App {
  text-align: center;
  position: relative;
  z-index: 1;
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Patchy Robots Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Patchy Robots Regular'), url('Patchy Robots.woff') format('woff');
  } 

h1{
  font-family: 'Patchy Robots Regular';
}
